name: Build Codeserver IDE images

on:
  pull_request:
    paths:
      - ".github/workflows/docker_build_template.yml"
      - ".github/workflows/codeserver.yml"
      - "notebook-servers/base/**"
      - "notebook-servers/codeserver*/**"

  push:
    branches:
      - main
    paths:
      - ".github/workflows/docker_build_template.yml"
      - ".github/workflows/codeserver.yml"
      - "notebook-servers/base/**"
      - "notebook-servers/codeserver*/**"

  workflow_dispatch:

  workflow_run:
    workflows: [Run pre-commit hooks]
    types: [completed]

jobs:
  stage1:
    uses: ./.github/workflows/docker_build_template.yml
    with:
      # Workaround until matrix strategy is supported in reusable workflows
      # https://github.community/t/reusable-workflow-with-strategy-matrix/205676/8
      path_to_dockerfile: >-
        ["notebook-servers/codeserver"]
      build_args: GCR=ghcr.io/opengptx

  stage2:
    needs: [stage1]
    uses: ./.github/workflows/docker_build_template.yml
    with:
      path_to_dockerfile: >-
        ["notebook-servers/codeserver-python"]
      build_args: GCR=ghcr.io/opengptx

  stage3:
    needs: [stage1, stage2]
    uses: ./.github/workflows/docker_build_template.yml
    with:
      path_to_dockerfile: >-
        ["notebook-servers/codeserver-python-spark"]
      build_args: GCR=ghcr.io/opengptx
